.dropdown {
    display: block;
    width: 213px;
    min-width: 150px;
    height: 32px;
    border: 1px solid #BBBBBB;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff !important;
    position: relative;
    outline: 0;
    padding: 0;
    text-align: left;
    z-index: 5;
}

.dropdown.expanded {
    width: calc (84px * 3);
}

.dropdown:focus {
    border-color: #2ca01c;
}

.dropdown .choice {
    display: flex;
}

.dropdown.isshow {
    border: 1px solid #2ca01c;
}

.dropdown .divtext {
    height: 32px;
    line-height: 32px;
    width: calc(100% - 32px - 16px);
    font-size: 13px;
    padding-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.dropdown .arrow-zone {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    border-radius: 2px;
}

.dropdown .arrow-zone .arrow {
    height: 32px;
    width: 32px;
    background-image: url("../../assets/old_icon/btn-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    box-sizing: border-box;
    border-radius: 2px;
}