/*============================================================================*/

.page-header {
    height: 48px;
    width: calc(100% - 0px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header .header-left {
    width: fit-content;
    min-width: 200px;
    display: flex;
}

.page-header .header-right {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.page-header .dropdown {
    height: 40px;
    width: 200px;
    border: 0;
    margin-top: 4px;
}

.page-header .dropdown .divtext {
    width: 210px;
    font-size: 14px;
    padding-left: 10px;
    font-weight: bold;
    height: 100%;
}

.page-header .user {
    height: 100%;
    padding-right: 20px;
    width: auto;
    justify-content: center;
    display: flex;
    position: relative;
}

.page-header .user .user-notification {
    margin-top: 12px;
}

.page-header .user .reddot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 15px;
    background-color: red;
    border: 2px solid #fff;
}

.page-header .user .user-avatar {
    width: 36px;
    height: 36px;
    margin: 5px 15px;
    border-radius: 50%;
    background-image: url("../../assets/old_icon/avatar-default.png");
    background-size: contain;
    background-color: #ccc;
    background-repeat: no-repeat;
}

.page-header .user .user-fullname {
    width: auto;
    line-height: 48px;
    font-size: 14px;
    font-weight: 400;
}